name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main  # run this workflow on every git push to the main branch
  workflow_dispatch:  # allow manual trigger from GitHub Actions UI

jobs:
  sync-to-huggingface:
    runs-on: ubuntu-latest  # runner: ephemeral (temporary) Ubuntu VM 

    steps:
      # Step 1: Clone the repository into the runner uing GitHub's checkout action  
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 0 for full git history, 1 for lastest commit only
          lfs: false        

      # Step 2: Create directory with only files needed for Hugging Face Space deployment
      - name: Create deployment directory
        run: |
          mkdir deploy
          cp requirements.txt deploy/
          cp Dockerfile deploy/
          cp start.sh deploy/
          mkdir -p deploy/frontend deploy/backend deploy/src deploy/geoip_db
          cp -r frontend/* deploy/frontend/
          cp -r backend/* deploy/backend/
          cp -r src/* deploy/src/
          cp -r geoip_db/* deploy/geoip_db/
          cp README-hf-space.md deploy/README.md  # rename to README.md for Hugging Face Space 

      # Step 3: Push the code to the Hugging Face Space repository
      - name: Push to Hugging Face Space
        uses: huggingface/hub-action@v1
        with:
          repo-token: ${{ secrets.HF_TOKEN }}  # access token (write access) created on HF and stored in GitHub repo secrets
          repo-type: space
          repo-id: JensBender/loan-default-prediction-app
          path: deploy
          force: true  # overwrite any changes made directly on HF Space
