name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main  # run this workflow on every git push to the main branch
  workflow_dispatch:  # allow manual trigger from GitHub Actions UI

jobs:
  sync-to-huggingface:
    runs-on: ubuntu-latest  # runner: ephemeral (temporary) Ubuntu VM 

    steps:
      # Step 1: Clone the repository into the runner uing GitHub's checkout action  
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 0 for full git history, 1 for lastest commit only
          lfs: false        

      # Step 2: Install Python  
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # Step 3: Install Hugging Face Hub package   
      - name: Install huggingface_hub
        run: pip install --upgrade huggingface_hub

      # Step 4: Create directory with only files needed for the Hugging Face Space deployment
      - name: Create deployment directory
        run: |
          mkdir deploy
          cp requirements.txt deploy/
          cp Dockerfile deploy/
          cp start.sh deploy/
          mkdir -p deploy/frontend deploy/backend deploy/src deploy/geoip_db
          cp -r frontend/* deploy/frontend/
          cp -r backend/* deploy/backend/
          cp -r src/* deploy/src/
          cp -r geoip_db/* deploy/geoip_db/
          cp README-hf-space.md deploy/README.md  # rename to README.md for Hugging Face Space 

      # Step 5: Push the code to the Hugging Face Space repository
      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}  # access token (write access) created on HF and stored in GitHub repo secrets
        run: |
          python -m huggingface_hub.cli.upload \
            --repo-id JensBender/loan-default-prediction-app \
            --repo-type space \
            ./deploy \
            --token $HF_TOKEN \
            --commit-message "Deploy from GitHub Actions" \
            --force  # overwrite any changes made directly on HF Space 
